
body {
  background: #fff;
  color: #444;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #007bff;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0b6bd3;
  outline: none;
  text-decoration: none;
}

/*p {
  padding: 0;
  margin: 0 0 30px 0;
  font-family: "Comfortaa", cursive;
    font-weight: 600;
}

.emp_profile h1,h2,h3,h4,h5,h6{
    
    font-family: "Comfortaa", cursive;
    font-weight: 600;
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

.social-links2 a{
  text-align:center;
  float: left;
  width: 70px;
  height: 70px;
  border: 2px solid #000080;
  border-radius: 100%;
  margin-right: 15px; /*space between*/
  display: flex;
  align-items: flex-start;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
} 
.social-links2 a i{
  font-size: 40px;
    align-self:center;
  color: #000080;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    margin: 0 auto;
}
.social-links2 a i::before{
  display:inline-block;
  text-decoration:none;
}
.social-links2 a:hover{
  background: rgba(0,0,128);
}
.social-links2 a:hover i{
  color:#fff;
}
/***** FWA OLD INPUT FORM STYLES *****/
.form-horizontal1 .control-label {
  text-align: left; }

.control-label-pad1 .control-label {
  padding-top: 0px; }

.form-control-fwa {
  border-radius: 0;
  border: 1px solid #d5d5d5;
  background-color: white;
  height: 38px;
  color: #555555;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); }
  .form-control-fwa:focus {
    border-color: #fbc52d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 197, 45, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 197, 45, 0.6); }

.form-control-fwa[disabled], .form-control-fwa[readonly], fieldset[disabled] .form-control-fwa {
  background-color: #dddddd; }
  .form-control-fwa[disabled]:focus, .form-control-fwa[readonly]:focus, fieldset[disabled] .form-control-fwa:focus {
    border: none;
    box-shadow: none; }

.input-group-addon {
  border-radius: 0;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #091d3a;
  background-color: #e6e6e6;
  border: 1px solid #d5d5d5; }

.form-group-fwa .control-label {
  color: #535353;
  margin-bottom: 25px;
  }

/*select style*/
.selectwrap1 {
  position: relative;
  float: left;
  width: 100%; }
  .selectwrap1:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    position: absolute;
    width: 26px;
    height: 36px;
    background: white;
    right: 1px;
    top: 1px;
    pointer-events: none; }



/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #007bff;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #007bff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*----------------------------------------search box--------------------------------------*/
  .checkbox-custom1 + .checkbox-custom-label:before {
    content: '';
    background: white;
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    padding: 0px;
    text-align: center;
    border: 1px solid #fbc52d;
    border-radius: 0px;
    margin-bottom: 4px;
    margin-right: 10px;
}
.ul-list1 li{
  list-style: none;
}
.selectwrap1 {
    position: relative;
    float: left;
    width: 100%;
}
.selectbox-content1 .input-group {
    padding: 5px;
}

input[type=checkbox], input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
.selectbox { width:100%; display:inline-block;}
.selectbox-title.form-control { padding-left: 16px;}
.selectbox-content { border:1px solid #d5d5d5; max-height:205px; overflow:auto; display:none; border-top: none;}
.selectbox-content ul { list-style:none; margin:0px; padding:0px; cursor: pointer;  position: relative; }
.selectbox-content ul li { padding-top:10px; width:100%; display:inline-block;}
.selectbox-content ul li:last-child { border-bottom:none;}
.selectbox-content ul li:first-child { border-top:none;}
.selectbox-content .input-group {padding: 5px;}
.loadbutton {
    padding: 10px;
}
.loadbutton .btn-primary {
    padding-top: 8px;
    padding-bottom: 8px;
}
.ul-list label {
    padding-left: 20px;
}
#box {
    height: 34px;
}
/***** INPUT FORM STYLES *****/
.form-horizontal .control-label {
  text-align: left; }

.control-label-pad .control-label {
  padding-top: 0px; }

.form-control {
  border-radius: 0;
  border: 1px solid #d5d5d5;
  background-color: white;
  height: 38px;
  color: #555555;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); }
  .form-control:focus {
    border-color: #fbc52d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 197, 45, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 197, 45, 0.6); }
    .form-control {
    border-radius: 0;
    border: 1px solid #d5d5d5;
    background-color: white;
    height: 38px;
    color: #555555;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #dddddd; }
  .form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus {
    border: none;
    box-shadow: none; }



.input-group-addon {
  border-radius: 0;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #091d3a;
  background-color: #e6e6e6;
  border: 1px solid #d5d5d5; }

.form-group .control-label {
  color: #535353; }

/*select style*/
.selectwrap {
  position: relative;
  float: left;
  width: 100%; }
  .selectwrap:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    position: absolute;
    width: 26px;
    height: 36px;
    background: white;
    right: 1px;
    top: 1px;
    pointer-events: none; }

/***** CUSTOM CHECKBOX STYLES *****/
.custom-checkbox-label .checkbox-pad {
  padding-top: 7px; }

.custom-checkbox label {
  font-weight: normal; }

.checkbox-custom {
  opacity: 0;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer; }

.checkbox-custom-label {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer;
  position: relative; }

.checkbox-custom + .checkbox-custom-label:before {
  content: '';
  background: white;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 0px;
  text-align: center;
  border: 1px solid #fbc52d;
  border-radius: 0px;
  margin-bottom: 4px;
  margin-right: 10px; }
.checkbox-custom:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #fbc52d;
  font-size: 12px;
  font-weight: 100;
  line-height: 5px;
  padding-top: 6px; }
.checkbox-custom:focus + .checkbox-custom-label {
  outline: 0px solid #dddddd; }
   .selectbox1 { width:100%; display:inline-block;}
.selectbox-title1.form-control { padding-left: 16px;}
.selectbox-content1 { border:1px solid #d5d5d5; max-height:205px; overflow:auto; display:none; border-top: none;}
.selectbox-content1 ul { list-style:none; margin:0px; padding:0px; cursor: pointer;  position: relative; }
.selectbox-content1 ul li { padding-top:10px; width:100%; display:inline-block;}
.selectbox-content1 ul li:last-child { border-bottom:none;}
.selectbox-content1 ul li:first-child { border-top:none;}
.selectbox-content1 .input-group {padding: 5px;}
.loadbutton1 {
    padding: 10px;
}
.loadbutton1 .btn-primary {
    padding-top: 8px;
    padding-bottom: 8px;
}
.ul-list1 label {
    padding-left: 20px;
}
#box1 {
    height: 34px;
}
/***** INPUT FORM STYLES *****/
.form-horizontal1 .control-label {
  text-align: left; }

.control-label-pad1 .control-label {
  padding-top: 0px; }

.form-control {
  border-radius: 0;
  border: 1px solid #d5d5d5;
  background-color: white;
  height: 38px;
  color: #555555;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0); }
  .form-control:focus {
    border-color: #fbc52d;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 197, 45, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(251, 197, 45, 0.6); }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #dddddd; }
  .form-control[disabled]:focus, .form-control[readonly]:focus, fieldset[disabled] .form-control:focus {
    border: none;
    box-shadow: none; }

.input-group-addon {
  border-radius: 0;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #091d3a;
  background-color: #e6e6e6;
  border: 1px solid #d5d5d5; }

.form-group .control-label {
  color: #535353; }

/*select style*/
.selectwrap1 {
  position: relative;
  float: left;
  width: 100%; }
  .selectwrap1:after {
    content: "\f0d7";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    line-height: 36px;
    position: absolute;
    width: 26px;
    height: 36px;
    background: white;
    right: 1px;
    top: 1px;
    pointer-events: none; }

/***** CUSTOM CHECKBOX STYLES *****/
.custom-checkbox-label1 .checkbox-pad {
  padding-top: 7px; }

.custom-checkbox1 label {
  font-weight: normal; }

.checkbox-custom1 {
  opacity: 0;
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer; }

.checkbox-custom-label1 {
  display: inline-block;
  vertical-align: middle;
  margin: 0px;
  cursor: pointer;
  position: relative; }

.checkbox-custom1 + .checkbox-custom-label:before {
  content: '';
  background: white;
  display: inline-block;
  vertical-align: middle;
  width: 18px;
  height: 18px;
  padding: 0px;
  text-align: center;
  border: 1px solid #fbc52d;
  border-radius: 0px;
  margin-bottom: 4px;
  margin-right: 10px; }
.checkbox-custom1:checked + .checkbox-custom-label:before {
  content: "\f00c";
  font-family: 'FontAwesome';
  color: #fbc52d;
  font-size: 12px;
  font-weight: 100;
  line-height: 5px;
  padding-top: 6px; }
.checkbox-custom1:focus + .checkbox-custom-label {
  outline: 0px solid #dddddd;
   }
/*----------------------------------------------search box-------------------------------------*/
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.emp_proflie h2{
    font-size: 22px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
.token_fund h4{
    font-size: 29px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
    margin: 10px 0px;
}
.find_candidate h4{
    font-size: 29px;
    font-family: 'Comfortaa', cursive;
    font-weight: 600;
}
.emp_proflie h5{
      color: #ad0a0a;
    font-size: 17px;
    margin-top: 19px;
}
.msg_alert{
      background-color: #e8f7fd;
    border: 1px solid #abcbd8;
}
#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding:4px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}
.intro-info p{
  color: #fff;
  font-size: 20px;
      letter-spacing: 4px;
}
.main-nav{
  margin-top: 14px !important;
}
#header.header-scrolled,
#header.header-pages {
  height:85px;
  padding: 10px 0;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #00366f;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
    /* margin: 7px 0; */
    max-height: 70px;
}

.main-pages {
  margin-top: 60px;
}
.contact_bg{
  background-color:#236a94;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2),
   0px 2px 2px 0px rgba(0,0,0,0.14),
   0px 3px 1px -2px rgba(0,0,0,0.12);
       padding: 20px 0px 50px 0px;
    margin: 15px 0px 50px 0px;
}
.contact_bg h4{
margin-top: 80px;
    padding: 0px 14px;
    color: #fff;
    font-size: 20px;
}
.contact_bg p{
margin-top: 10px;
    padding: 0px 14px;
    color: #fff;
    font-size: 13px;
}
.learn_btn{
     border: 1px solid #fff;
    padding: 4px 14px;
    margin: 0px 14px;
    background: transparent;
    color: #fff;
}
/*.contact_iocn2 h5{
  margin-top: 20px;
}*/
.contact_bg h5{
  /*position: absolute;*/
  /*top:20px;*/
  color: #fff;
  font-size: 20px;
  margin: 10px;
}
.contact_iocn{
  color: #fff;
  border:1px solid #9cbdd0;
      text-align: center;
   height:40px;
    margin-top: 14px;
}
.contact_iocn2 h5{
  font-size: 14px;
  font-weight: 600;
}
.contact_iocn .fa{
      font-size: 24px;
    margin-top: 6px;
    color: #afd2e6;
}







.wrap {
  /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);*/
  border-radius: 4px;
      margin-bottom: 30px;
}


.panel {
  border-width: 0 0 1px 0;
  /*border-style: solid;*/
  border-color: #fff;
  background: none;
  box-shadow: none;
}

.panel:last-child {
  border-bottom: none;
}

.panel-group > .panel:first-child .panel-heading {
  border-radius: 4px 4px 0 0;
}

.panel-group .panel {
  border-radius: 0;
}
.panel-title a:hover{
  color: #333;
  text-decoration: none;
}
.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-heading {
    background-color: #1d5f8600;
    border-radius: 0;
    border: 1px solid #1d5f86;
    /* border: none; */
    color: #0e0e0e;
     padding: 0;
     margin: 10px 0px;
}
.contact_bottom h3{
 margin: 25px 0px;
 font-size: 22px;
}
.panel-title a {
  display: block;
  color: #101010;
  padding:8px 15px;
  position: relative;
  font-size: 16px;
  font-weight: 400;
}

.panel-body {
  background: #fff;
  padding: 10px 20px;
}

.panel:last-child .panel-body {
  border-radius: 0 0 4px 4px;
}

.panel:last-child .panel-heading {
  border-radius: 0 0 4px 4px;
  transition: border-radius 0.3s linear 0.2s;
}

.panel:last-child .panel-heading.active {
  border-radius: 0;
  transition: border-radius linear 0s;
}
/* #bs-collapse icon scale option */

.panel-heading a:before {
  /*content: '\e146';*/
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  font-size: 24px;
  transition: all 0.5s;
  transform: scale(1);
}

.panel-heading.active a:before {
  content: ' ';
  transition: all 0.5s;
  transform: scale(0);
}

#bs-collapse .panel-heading a:after {
  content: ' ';
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: scale(0);
  transition: all 0.5s;
}

#bs-collapse .panel-heading.active a:after {
  content: '\e909';
  transform: scale(1);
  transition: all 0.5s;
}
/* #accordion rotate icon option */

#accordion .panel-heading a:before {
  /*content: '\e316';*/
  font-size: 24px;
  position: absolute;
  font-family: 'Material Icons';
  right: 5px;
  top: 10px;
  transform: rotate(180deg);
  transition: all 0.5s;
}

#accordion .panel-heading.active a:before {
  transform: rotate(0deg);
  transition: all 0.5s;
}







/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
.fwa{
  text-align: center;
}
.apply_btn{
  /*border-left: 1px solid red;*/
    background-color: #df4a32;
    padding: 7px 40px;
    color: #fff;
    margin-top: 30px;
    border: none;
    width:100%;
    /*margin-left: -3px;*/
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.csv_btn{
  /*border-left: 1px solid red;*/
    background-color: #12b964;
    padding: 7px 40px;
    color: #fff;
    margin-top: 30px;
    border: none;
    width:100%;
    /*margin-left: -3px;*/
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.fwa a:hover{
  color: #fff !important;
}

.banner{
   position: fixed;
  background: url("../img/jobseeker-banner.jpg") center bottom no-repeat;
}

#intro {
  width: 100%;
  position: relative;
  background: url("../img/jobseeker-banner.jpg") center bottom no-repeat;
  background-size: cover;
  padding: 200px 0 120px 0;
      margin: 67px 0px;
}

.banner .intro-img {
  width: 50%;
  float: right;
}

.banner .intro-info {
  width: 50%;
  float: left;
}

.intro-info h2 {
      color: #fff;
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    /*font-family: 'Comfortaa', cursive; */
    font-weight: 700;
    font-size: 47px;
    line-height: 1.4em;
}
.panel-body p{
  font-size: 14px !important;
}
.panel-body a:hover {
    color: #001775;
    text-decoration:none;
}
.panel-body a {
    color:#b10b11;
    text-decoration:none;
}
.banner .intro-info h2 span {
  color: #74b5fc;
  text-decoration: underline;
}
.intro-info h1{
       position: absolute;
    top: 348px;
    font-size: 220px;
    color: #fff;
    font-weight: 600;
    font-family: 'Comfortaa', cursive;
}
.intro-info .btn-get-started,
 .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 17px;
  border-radius: 4px;
  transition: 0.5s;
  margin: 0 20px 20px 0;
  color: #fff;
}

.intro-info .btn-get-started {
     background: #D2232A;
    border: 2px solid #D2232A;
    color: #fff;
}
.intro-info .btn-services {
  border: 2px solid #fff;
  background-color: #FFF;
  color:#D2232A!important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #757575;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color:#0a4e98;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
      border-top: 2px solid #2d74c1;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 13px;
  color: #004289;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #007bff;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(19, 39, 57, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #74b5fc;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #004289;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(19, 39, 57, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/
.abt_btn{
color: #ffffff!important;
    border-width: 12px!important;
    border-color: #002d5e;
    letter-spacing: 2px;
    font-size: 14px;
        padding: 17px 20px;
        border-radius: 4px;
    /*font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;*/
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: #002d5e;
}
.service_btn{
  color: #ffffff!important;
    border-width: 12px!important;
    border-color: #002d5e;
    letter-spacing: 1px;
    font-size: 13px;
        padding: 11px 20px;
        border-radius: 4px;
    /*font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;*/
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: #002d5e;
}
.search_btn{
  color: #ffffff!important;
    border-width: 12px!important;
    border-color: #002d5e;
    letter-spacing: 2px;
    font-size: 14px;
        padding: 13px 20px;
        border-radius: 4px;
    font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: #D2232A;
    margin-top: 30px;
}
.working{
  text-align: center;
}
.working h2{
margin-top: 60px;
font-family: 'Comfortaa', cursive;

}
.search_box{
 padding: 6px 20px;
    border: 1px solid #cecece;
    width: 100%;
    /*margin-top: 40px;*/
    color:#6d6d6d;
}
.section-header h3 {
  font-family: 'Comfortaa', cursive;
     font-size: 42px!important;
    color: #8f8f8f!important;
    text-align: center;
    font-weight: 500;
    position: relative;
}

.section-header p {
 text-align: center;
    margin: auto;
    font-size: 17px;
    /* font-weight: 600; */
    padding-bottom: 60px;
    /* color: #556877; */
    color: #666;
    width: 63%;
}



/* Section with background
--------------------------------*/

.section-bg {
  background: #ecf5ff;
}

/* About Us Section
--------------------------------*/
.middle_banner h3{
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    padding: 29px 15px;
}
.banner_text{
  position: absolute;
   top: -71px;
}
.banner_text h1{
    color: #fff;
    font-size:280px;
    font-weight: 500;
    display: inline;
   
}
.banner_text p{
    font-size: 16px;
    color: #fff;
    margin-bottom: 12px;
}
.industries h4{
    font-size: 14px;
    margin: 27px 0px;
    font-weight: 500;
}
.recent h1{
 text-align: center;
    margin-top: 20px;
    font-size: 30px;
}
.recent h2{
  color: #000;
  font-size: 20px;
  font-weight: 600;
}
.recent h4{
    color: #545454;
    font-size: 15px;
    font-weight: 500;
}
.recent h5 {
    color: #0b78d6;
    font-size: 15px;
    font-weight: 500;
}
.recent p{
    color: #0b78d6;
    font-size: 15px;
    font-weight: 500;
        margin-bottom: 14px;
}
.other_btn{
     background-color: #338be8;
    border-radius: 17px;
    border: none;
    width: 100%;
    color: #fff;
    padding: 5px 20px;
}
.recent_box1{
  border:1px solid #e0e0e0;
  padding: 20px;
}
.banner_text_btn{
color: #ffffff!important;
    border-width: 1px!important; 
    letter-spacing: 2px;
    font-size: 12px;
    padding: 11px 20px;
    border-radius: 4px;
    /*font-family: 'Poppins',Helvetica,Arial,Lucida,sans-serif!important;*/
    font-weight: 600!important;
    text-transform: uppercase!important;
        background: #D2232A;
    border: 2px solid #D2232A;
}
.industries{
text-align: center;
padding: 20px;
}
.banner_text h5{
    color: #fff;
    font-size: 34px;
    font-weight: 500;
    display: inline;
}
.middle_banner{
 background-color: #d2232a;
 text-align: right;
}
.banner2{
  background-image: url(../img/banner2_.jpg);
  height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: -20px;
}
.banner3{
    background-image: url(../img/banner3_.jpg);
    height: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: -20px;
}
.panel-body h5{
  font-size: 15px;
}
.panel-body table {
    width: 100%;
    margin: 0 0 15px 0;
    border: 1px solid #eee;
    text-align: left;
}
.panel-body tr td {
    padding: 6px 14px;
    border-top: 1px solid #eee;
}

.login_back{
  background-color: #f9f9f9;
}
.login h4{
 font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}
.fb .fa-facebook{
    background-color: #4C69BA;
    padding: 10px 15px;
    margin: 0px;
    font-size: 18px;
    color: #fff;
     box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.fb .fa-google{
   background-color:#df4a32;
    padding: 10px 13px;
    margin: 0px;
    font-size: 18px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.fb .fa-user{
  background-image: linear-gradient(#3eca76, #0c9649);
    padding: 10px 15px;
    margin: 0px;
    font-size: 18px;
    color: #fff;
     box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.user_btn{
   background-image: linear-gradient(#3eca76, #0c9649);
   /*border-left: 1px solid red;*/
    /*background-color: #df4a32;*/
    padding: 7px 7px;
    color: #fff;
    margin-top: 30px;
    border: none;
    width: 83%;
    margin-left: -4px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.modal-header .close {
    /* padding: 1rem; */
    margin: -1rem -1rem -1rem auto !important;
}
.model_btn{
  border:none;
  color: #fff;
  background-color:#00adff;
}
.close_btn{
   border:none;
  color: #fff !important;
  background-color:#333;
}
.fb .fa-file-text-o  {
background-image: linear-gradient(#26baee, #0a74c7);
    padding: 10px 13px;
    margin: 0px;
    font-size: 18px;
    color: #fff;
     box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
 }
 .fb .fa-credit-card{
background-image: linear-gradient(#26baee, #0a74c7);
    padding: 10px 11px;
    margin: 0px;
    font-size: 18px;
    color: #fff;
     box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
 }
 .fb .fa-key{
  background-image: linear-gradient(#26baee, #0a74c7);
    padding: 10px 11px;
    margin: 0px;
    font-size: 18px;
    color: #fff;
     box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
 }
 .sub_btn{
background-image: linear-gradient(#26baee, #0a74c7);
    padding: 7px 7px;
    color: #fff;
    margin-top: 30px;
    border: none;
    width: 83%;
    margin-left: -3px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
 }
.google_btn{
  border-left: 1px solid red;
   background-color:#df4a32;
       padding: 7px 7px;
    color: #fff;
        margin-top: 30px;
    border: none;
    width: 83%;
    margin-left: -3px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.inputWithIcon input[type="text"] {
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-top: none;
    border-left: none;
    font-size: 14px;
    border-right: none;
    /* border-radius: 4px; */
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

.inputWithIcon input[type="password"] {
    width: 100%;
    border-bottom: 1px solid #aaa;
    border-top: none;
    border-left: none;
    font-size: 14px;
    border-right: none;
    /* border-radius: 4px; */
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}


.inputWithIcon input[type="text"] {
  padding-left: 12px;
}

.inputWithIcon input[type="password"] {
  padding-left: 12px;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon i {
    position: absolute;
    /* left: 0; */
    right: 15px;
    font-size: 18px;
    top: 12px;
    padding: 9px 8px;
    color: #aaa;
    transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon input[type="password"]:focus + i {
  color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
  background-color: #aaa;
  color: #fff;
  padding: 9px 4px;
  border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}

.inputWithIcon.inputIconBg input[type="password"]:focus + i {
  color: #fff;
  background-color: dodgerBlue;
}
.vl {
  border-left: 1px solid #bebfbf;
    height: 200px;
    margin-top: 40px;
}
.fb .fa-google:hover{
      background-color: #ff7862;
    background-image: linear-gradient(#f56e59, #b92811);
  }
.google_btn:hover{
       background-color: #ff7862;
    background-image: linear-gradient(#f56e59, #b92811);
    }
.fb_btn:hover{
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
.fb .fa-facebook:hover{
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
.fb_btn{
  border-left: 1px solid red;
    background-color: #4C69BA;
    padding: 7px 7px;
    color: #fff;
        margin-top:15px;
    border: none;
    width: 83%;
    margin-left: -3px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.learn_btn{
  background-color: transparent;
    border: 1px solid #333;
    padding: 7px 7px;
    color: #383737;
    margin-top: 15px;
    font-size: 14px;
    /* border: none; */
    text-transform: uppercase;
    font-weight: 500;
        width: 92%;
    margin-left: -20px;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
.learn_btn:hover{
       background-color: #ff7862;
    background-image: linear-gradient(#f56e59, #b92811);
    }
.register_btn{
   background-color: transparent;
    border: 1px solid #333;
    padding: 7px 7px;
    color: #383737;
    margin-top: 15px;
    font-size: 14px;
    /* border: none; */
    text-transform: uppercase;
    font-weight: 500;
    width: 92%;
    /* margin-left: -3px; */
    box-shadow: 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
}
 
a.button {
  display: block;
  position: relative;
  float: left;
  width: 90%;
  padding: 0;
  margin: 10px 20px 10px 0;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  color: #382b22;
  border-radius: 5px;
  transition: all 0.2s ;
}

.btnBlueGreen {
     /*background:  #ffe9e9;*/
    border: 1px solid #b18597;
}

.btnLightBlue {
     background: transparent;
    border: 1px solid #9dcaea;
    margin-left: -15px !important;
}

/* 3D */
.btnBlueGreen.btnPush {
  box-shadow: 0px 5px 0px 0px #9be8b7;
    border: 1px solid #9be8b7;
}

.btnLightBlue.btnPush {
  box-shadow: 0px 5px 0px 0px #9dcaea;
}

.btnPush:hover {
  margin-top: 15px;
  margin-bottom: 5px;
}

.btnBlueGreen.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #007144;
}

.btnLightBlue.btnPush:hover {
  box-shadow: 0px 0px 0px 0px #1E8185;
}

.fb a{
   text-transform: uppercase; 
}
.register_btn:hover{
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
  }
.fb h4{
 font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}
.login_box{
      width: 100%;
    border: 1px solid #d8d8d8;
    padding: 5px 13px;
    margin-top: 11px;
    font-size: 14px;
}
.login_btn{
 background-color: #021a7d;
    width: 40%;
    margin-top: 30px;
    color: #fff;
        padding: 7px 10px;
    text-transform: uppercase;
    font-size: 15px;
    border: navajowhite;
}
.login p{
  margin-top: 20px;
  font-size: 13px;
  color: #333;
}
.login{
  background-color: #fff;
     padding: 20px 0px 50px 0px;
    margin: 15px 0px 50px 0px;
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 3px 1px -2px rgba(0,0,0,0.12);
}

/*---------------------------------------registration-------------------------------------------*/
.star{
  color:#dc2424;
}
.fwa_btn{
  text-align: center;
}
.fwa_btn h5{
      font-size: 14px;
    color: #00146d;
    font-weight: 600;
    margin-top: 20px;
}
#myTabs .active{
   background-color: #49a4ec;
    border-radius: 16px;
    padding: 5px 20px;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #49a4ec; 
}
  .tabs a{
      color: #fff;
  }
  .fade:not(.show) {
    opacity: 1;
}
.mydiv{
  border-top:1px solid #cacaca;
  margin-top: 20px;
  text-align: center;
}
.mydiv h5{
    font-size: 17px;
    font-weight: 500;
    padding-top: 18px;
}
.fwa_btn1{
    background-color: #4ca2e7;
    border: none;
    padding: 7px 20px;
    color: #fff;
}
.fwa_btn2{
    background-color: #333;
    border: none;
    padding: 7px 20px;
    color: #fff;
}
.reg_box{
      padding: 6px 13px;
    border: 1px solid #a3acb3;
    border-radius: .18rem;
    width: 100%;
        color: #6f6e6e;
    font-size: 14px;
}
.reg_label1{
    margin-top:8px;
    font-size: 14px;  
    color: #405166;
    font-weight: 600;
}
.reg_label{
    margin-top:18px;
    font-size: 14px;  
    color: #405166;
    font-weight: 600;
}

/**, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}*/

.new {
  padding: 50px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 8px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
      margin-right: 5px;
    margin-bottom: 5px;
}

.form-group input:checked + label:after {
      content: '';
    display: block;
    position: absolute;
    top: 4px;
    left: 8px;
    width: 5px;
    height: 10px;
    border: solid #d32a30;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #425090;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
       content: '';
    width: 10px;
    height: 10px;
    background: #d53137;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.regist_head h4{
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
}
.select_css{
    color: #545454;
    font-size: 14px;
}
.custom-file-upload-hidden {
    display: none;
    visibility: hidden;
    position: absolute;
    left: -9999px;
}
.custom-file-upload {
    display: block;
    width: auto;
    font-size: 16px;
    margin-top:7px;
   

        display: block;
        margin-bottom: 5px;
  
}
.fwa h4{
      font-size: 19px;
    margin: 10px 17px 24px;
    color: #001468;
}
.aus_num{
     background-image: linear-gradient(to right, #004eff , #03A9F4);
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
  
}
#clr{
    margin-top: 14px;
}
#clr a:hover{
color: #fff;
text-decoration:none;
}
/*chechbox style*/
/* The container */
.label_text {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.label_text input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
     top: 12px;
    left: 14px;
  height: 17px;
  width: 17px;
     border: 1px solid #03A9F4;
}

/* On mouse-over, add a grey background color */
.label_text:hover input ~ .checkmark {
  background-color: transparent;
    border: 1px solid #03A9F4;
}

/* When the checkbox is checked, add a blue background */
.label_text input:checked ~ .checkmark {
background-color: transparent;
    border: 1px solid green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.label_text input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.label_text .checkmark:after {
      left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid green;
    border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.checkbox_text{
  margin-left: 8px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 1px;
  color: #383737;
}



/*checkbox style*/










.icon{
        border: 1px solid #c7c7c7;
    border-radius: 62px;
    padding: 18px 18px;
    position: absolute;
    top: 10px;
    background-color: #fff;
    z-index: 99;
    left: 43%;
}
.tab_style{
  border-radius: 16px;
    border: 1px solid #49a4ec;
    padding: 5px 20px;
        color: #212121;
        margin: 20px 10px;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
}
.icon .fa{
    font-size: 34px;
    color: #4ea2e6;
}
.fwa h2{
    font-size: 18px;
    margin: 15px 1px;
    color: #d2232a;
    font-weight: 600;
}
.agency_box{
  margin-top: 74px;
    border: 1px solid #dad7d7;
    padding: 40px 10px 20px;
    text-align: center;
    height: 190px;
}
.file-upload-wrapper {
    position: relative; 
    margin-bottom: 5px;
        border: 1px solid #a3acb3;
    border-radius: .18rem;
}
.file-upload-input {
  color: #b90606;
    /* font-size: 16px; */
    padding: 4px 17px;
    /*border: 1px solid #a3acb3;*/
        border: none;
    width: 78%;
}
.file-upload-button {
    cursor: pointer; 
       display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 20px;
    border: none;
   margin-left:4.3px;
    background-color: #00197d;
}
.size {
  font-size: 14px !important;
  color: #333;
  margin: 3px 0px !important;
}
.work_img{
  text-align: center;
  margin: 14px 0px 3px 0px;
}
.work_img p{
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
}
.categories_img p{
  text-transform: uppercase;
  color: #333;
  font-weight: 600;
  text-align: center;
}
/*---------------------------------------registration-------------------------------------------*/


.work_para p{
  margin-top: 30px;
  line-height: 26px;
    font-size: 18px;
    color: #444;
}
#about {
  background: #fff;
  padding: 60px 0;
}

#about .about-container .background {
  /*margin: 20px 0;*/
}

#about .about-container .content {
  background: #fff;
}

#about .about-container .title {
  color: #333;
  font-weight: 700;
  font-size: 32px;
}

#about .about-container p {
     line-height: 26px;
    font-size: 18px;
    color: #444;
}

#about .about-container p:last-child {
  margin-bottom: 0;
}

#about .about-container .icon-box {
  background: #fff;
  background-size: cover;
  padding: 0 0 30px 0;
}

#about .about-container .icon-box .icon {
  float: left;
  background: #fff;
  width: 64px;
  height: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #007bff;
  transition: all 0.3s ease-in-out;
}

#about .about-container .icon-box .icon i {
  color: #007bff;
  font-size: 24px;
}

#about .about-container .icon-box:hover .icon {
  background: #007bff;
}

#about .about-container .icon-box:hover .icon i {
  color: #fff;
}

#about .about-container .icon-box .title {
  margin-left: 80px;
  font-weight: 600;
  margin-bottom: 5px;
  font-size: 18px;
}

#about .about-container .icon-box .title a {
  color: #283d50;
}

#about .about-container .icon-box .description {
  margin-left: 80px;
  line-height: 24px;
  font-size: 14px;
}

#about .about-extra {
  padding-top: 60px;
}

#about .about-extra h4 {
  font-weight: 600;
  font-size: 24px;
}

/* Services Section
--------------------------------*/

#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
}

#services .box:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

#services .icon {
  position: absolute;
  left: -10px;
  top: calc(50% - 32px);
}

#services .icon i {
  font-size: 64px;
  line-height: 1;
  transition: 0.5s;
}

#services .title {
  margin-left: 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#services .title a {
  color: #111;
}

#services .box:hover .title a {
  color: #007bff;
}

#services .description {
  font-size: 14px;
  margin-left: 40px;
  line-height: 24px;
  margin-bottom: 0;
}

#why-us {
  padding: 60px 0;
  background: #004a99;
}

#why-us .section-header h3,
#why-us .section-header p {
  color: #fff;
}

#why-us .card {
  background: #00458f;
  border-color: #00458f;
  border-radius: 10px;
  margin: 0 15px;
  padding: 15px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s ease-in-out;
  height: 100%;
}

#why-us .card:hover {
  background: #003b7a;
  border-color: #003b7a;
}

#why-us .card i {
  font-size: 48px;
  padding-top: 15px;
  color: #bfddfe;
}

#why-us .card h5 {
  font-size: 22px;
  font-weight: 600;
}

#why-us .card p {
  font-size: 15px;
  color: #d8eafe;
}

#why-us .card .readmore {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  transition: 0.3s ease-in-out;
  border-bottom: #00458f solid 2px;
}

#why-us .card .readmore:hover {
  border-bottom: #fff solid 2px;
}

#why-us .counters {
  padding-top: 40px;
}

#why-us .counters span {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 48px;
  display: block;
  color: #fff;
}

#why-us .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #cce5ff;
}

/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #007bff;
  border-radius: 50px;
  text-transform: uppercase;
  background: #ecf5ff;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  background: #007bff;
  color: #fff;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #007bff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #e2effe;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #3395ff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #003166;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}

/* Testimonials Section
--------------------------------*/

#testimonials {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  float: left;
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 0 15px 140px;
}

#testimonials .owl-nav,
#testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd;
}

#testimonials .owl-dot.active {
  background-color: #007bff;
}

/* Team Section
--------------------------------*/

#team {
  background: #fff;
  padding: 60px 0;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

#team .member .member-info {
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}

#team .member .member-info-content {
  margin-top: 50px;
  transition: margin 0.2s;
}

#team .member:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}

#team .member:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}

#team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}

#team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}

#team .member .social {
  margin-top: 15px;
}

#team .member .social a {
  transition: none;
  color: #fff;
}

#team .member .social a:hover {
  color: #007bff;
}

#team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Clients Section
--------------------------------*/

#clients {
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#clients .clients-wrap {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
}

#clients .client-logo {
  padding: 64px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: #fff;
  height: 160px;
}

#clients .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

#clients img {
  transition: all 0.4s ease-in-out;
}

/* Contact Section
--------------------------------*/

#contact {
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  overflow: hidden;
}

#contact .section-header {
  padding-bottom: 30px;
}

#contact .contact-about h3 {
  font-size: 36px;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #007bff;
}

#contact .contact-about p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  color: #888;
}

#contact .social-links {
  padding-bottom: 20px;
}

#contact .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  color: #007bff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  border: 1px solid #007bff;
}

#contact .social-links a:hover {
  background: #007bff;
  color: #fff;
}

#contact .info {
  color: #283d50;
}

#contact .info i {
  font-size: 32px;
  color: #007bff;
  float: left;
  line-height: 1;
}

#contact .info p {
  padding: 0 0 0px 36px;
  line-height: 28px;
  font-size: 14px;
}

#contact .form #sendmessage {
  color: #007bff;
  border: 1px solid #007bff;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show,
#contact .form #errormessage.show,
#contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input,
#contact .form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .form button[type="submit"] {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: #fff;
  transition: 0.3s;
}

#contact .form button[type="submit"]:hover {
  background: #0067d5;
  cursor: pointer;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.info h3{
    font-size: 19px;
    color: #797979;
    font-weight: 500;
}
.email_box{
    width: 100%;
    border: 1px solid #b3b3b3;
    padding: 5px 10px;
    font-size: 16px;
    margin-bottom: 20px;
}
.subscribe_btn{
    background-color: #002d5e;
    color: #fff;
    padding: 8px 20px;
    border: navajowhite;
    width: 100%;
}
.contact_text h2{
    font-size: 22px;
    color: #3c3c3c;
    font-weight: 500;
}
#footer {
  background: #00428a;
  /*padding: 0 0 30px 0;*/
  color: #eee;
  font-size: 14px;
}
.footer_job h1{
      text-align: right;
      font-family: 'Comfortaa', cursive;
    color: #81abda;
    font-weight: 600;
    margin-top: -81px;
    font-size: 250px;
    margin-bottom: -32px;
}
#footer .footer-top {
  background: #034fa0;
  padding: 50px 0 0px 0;
}
.credits .fa{
  color: #0c95cc;
  font-size: 20px;
  padding: 10px;
}
#footer .footer-top .footer-info {
  /*margin-bottom: 30px;*/
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #ecf5ff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #007bff;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #0067d5;
  color: #fff;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
  color: #74b5fc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .footer-top .footer-newsletter {
  margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: #fff;
  transition: 0.3s;
  cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background: #0062cc;
}

#footer .copyright {

  padding-top: 15px;
}

#footer .credits {
  text-align: center;
  font-size: 13px;
  color: #f1f7ff;
}

#footer .credits a {
  color: #bfddfe;
}

#footer .credits a:hover {
  color: #f1f7ff;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%;
  }
}

@media (max-width: 991px) {
  #header {
    /*height: 60px;*/
    padding: 10px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #intro {
    padding: 140px 0 60px 0;
  }

  #intro .intro-img {
    width: 80%;
    float: none;
    margin: 0 auto 25px auto;
  }

  #intro .intro-info {
    width: 80%;
    float: none;
    margin: auto;
    text-align: center;
  }

  #why-us .card {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width: 767px) {
  #intro .intro-info {
    width: 100%;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

  #testimonials .testimonial-item {
    text-align: center;
  }

  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

@media (max-width: 574px) {
  #intro {
    padding: 100px 0 20px 0;
  }
}

.unit-2 {
  -webkit-box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.2); }
  .unit-2 .icon {
    font-size: 4rem; }

.unit-3 {
  padding: 30px;
  border: 2px solid #e6e6e6;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .unit-3 .unit-3-heading, .unit-3 .unit-3-body {
    position: relative;
    z-index: 2; }
  .unit-3 .unit-3-icon-wrap {
    position: relative;
    height: 68px;
    width: 59px;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 59px;
    flex: 0 0 59px; }
  .unit-3 .unit-3-svg {
    position: absolute;
    stroke: #e9ecef;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .unit-3 .unit-3-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2rem;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
  .unit-3 p {
    color: #b3b3b3; }
  .unit-3:hover {
    border: 2px solid #26baee; }

.block-4 .nonloop-block-4 .owl-stage {
  padding-bottom: 2em; }

.block-4 .nonloop-block-4 .owl-nav {
  z-index: 2;
  position: absolute;
  width: 100%;
  bottom: -2px; }
  .block-4 .nonloop-block-4 .owl-nav .owl-prev, .block-4 .nonloop-block-4 .owl-nav .owl-next {
    opacity: .2;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    position: absolute; }
    .block-4 .nonloop-block-4 .owl-nav .owl-prev:hover, .block-4 .nonloop-block-4 .owl-nav .owl-next:hover {
      opacity: 1; }
    .block-4 .nonloop-block-4 .owl-nav .owl-prev.disabled, .block-4 .nonloop-block-4 .owl-nav .owl-next.disabled {
      display: none; }
    .block-4 .nonloop-block-4 .owl-nav .owl-prev span, .block-4 .nonloop-block-4 .owl-nav .owl-next span {
      font-size: 30px; }
  .block-4 .nonloop-block-4 .owl-nav .owl-prev {
    left: 50px; }
  .block-4 .nonloop-block-4 .owl-nav .owl-next {
    right: 50px; }

.block-4 .nonloop-block-4 .owl-dots {
  bottom: -40px;
  position: absolute;
  width: 100%;
  text-align: center; }
  .block-4 .nonloop-block-4 .owl-dots .owl-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ccc;
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease; }
    .block-4 .nonloop-block-4 .owl-dots .owl-dot.active {
      background: #26baee; }

.block-38 {
  text-align: center; }
  .block-38 .block-38-header .block-38-heading {
    font-size: 18px;
    color: #000;
    margin: 0;
    font-weight: 300; }
  .block-38 .block-38-header .block-38-subheading {
    color: #b3b3b3;
    margin: 0 0 20px 0;
    text-transform: uppercase; }
  .block-38 .block-38-header img {
    width: 90px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 20px; }
  .block-38 .block-38-body {
    font-size: 1.1rem; }

.unit-4 {
  padding: 0;
  margin: 0;
  list-style: none; }
  .unit-4 li {
    display: inline-block;
    margin-right: 30px; }
    .unit-4 li:last-child {
      margin-right: 0; }

.unit-5 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-size: cover;
  background-position: center center; }
  .unit-5.overlay {
    position: relative; }
    .unit-5.overlay:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1;
      background: rgba(0, 0, 0, 0.5); }
  .unit-5 > .container {
    z-index: 2;
    position: relative; }
  .unit-5 h2 {
    color: #fff;
    font-size: 3rem; }

.unit-6 {
  color: #fff; }
  .unit-6 .sep {
    color: rgba(255, 255, 255, 0.2);
    margin: 0 10px; }

.unit-7 {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #ffffff;
  border: 3px solid #e8e8e8; }
  .unit-7 .pricing-table__item-header {
    position: relative;
    z-index: 1;
    display: inline-block;
    top: -12px;
    margin-bottom: -12px;
    text-align: center;
    color: #ffffff;
    padding: 9px 40px;
    min-width: 200px;
    width: auto;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .unit-7 .pricing-table__item-header:before, .unit-7 .pricing-table__item-header:after {
      content: '';
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 6px 12px 6px;
      border-color: transparent transparent #2c3640 transparent;
      z-index: 2; }
    .unit-7 .pricing-table__item-header:before {
      left: -6px; }
    .unit-7 .pricing-table__item-header:after {
      right: -6px; }
  .unit-7 .pricing-table__item-header-bg {
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: -1px;
    right: -1px;
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-transform: skew(-27deg);
    -ms-transform: skew(-27deg);
    transform: skew(-27deg); }
  .unit-7 .pricing-table__item-header-bg-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-transform: skew(27deg);
    -ms-transform: skew(27deg);
    transform: skew(27deg);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top; }
    .unit-7 .pricing-table__item-header-bg-inner:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      -webkit-transform: skew(27deg);
      -ms-transform: skew(27deg);
      transform: skew(27deg);
      -webkit-transform-origin: top;
      -ms-transform-origin: top;
      transform-origin: top;
      background: #3e4955; }
  .unit-7 .pricing-table__item-main {
    padding: 30px; }
  .unit-7 .pricing-table__item-title {
    position: relative;
    z-index: 2;
    font-weight: 700;
    letter-spacing: .075em;
    text-transform: uppercase; }
  .unit-7 ul li {
    margin-bottom: 10px; }
  .unit-7 .text-mark {
    color: #000;
    font-weight: bold; }
  .unit-7.featured-pricing .pricing-table__item-header:before, .unit-7.featured-pricing .pricing-table__item-header:after {
    border-color: transparent transparent #109fd1 transparent; }
  .unit-7.featured-pricing .pricing-table__item-header-bg-inner:before {
    background: #26baee; }

.unit-8 .accordion-item .heading {
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 0; }
  .unit-8 .accordion-item .heading > a {
    padding-left: 35px;
    position: relative;
    color: #000; }
    .unit-8 .accordion-item .heading > a:before {
      width: 20px;
      height: 20px;
      line-height: 18px;
      border: 1px solid #ccc;
      text-align: center;
      font-size: 18px;
      top: .1em;
      left: 0; }
    .unit-8 .accordion-item .heading > a[aria-expanded="true"]:before {
      font-family: 'icomoon';
      position: absolute;
      content: "\e316";
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      background: #26baee;
      color: #fff;
      border: 1px solid #26baee; }
    .unit-8 .accordion-item .heading > a[aria-expanded="false"]:before {
      content: "\e313";
      color: #ccc;
      font-family: 'icomoon';
      position: absolute;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease; }

.unit-8 .accordion-item .body-text {
  padding: 5px 0;
  padding-left: 30px; }


.job-search .btn {
  height: 47px; }

.job-search > ul {
  position: relative;
  z-index: 1;
  top: 20px; }
  .job-search > ul a {
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: .1em; }

.job-search .tab-content {
  position: relative;
  z-index: 2; }

.job-post-item {
  background: #fff;
  position: relative;
  -webkit-transition: .1s all ease;
  -o-transition: .1s all ease;
  transition: .1s all ease;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .job-post-item .btn-favorite {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 !important;
    margin: 0 !important; }
    .job-post-item .btn-favorite.active, .job-post-item .btn-favorite:hover {
      border-color: #f23a2e;
      background: #f23a2e;
      color: #fff !important; }
  .job-post-item.last {
    border-bottom: 1px solid transparent; }
  .job-post-item .badge-wrap {
    position: relative;
    top: -5px; }
  .job-post-item .badge {
    border-radius: 30px; }
  .job-post-item:hover, .job-post-item:focus {
    -webkit-box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 40px -5px rgba(0, 0, 0, 0.2);
    top: -5px;
    z-index: 2; }

.unit-8 .img-a img {
  opacity: 1;
  -webkit-transition: .2s all ease-in-out;
  -o-transition: .2s all ease-in-out;
  transition: .2s all ease-in-out;
  top: 0;
  position: relative; }

.unit-8:hover .img-a img {
  opacity: .5;
  top: -5px; }

.top-destination .place {
  display: block;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  .top-destination .place:hover, .top-destination .place:focus {
    opacity: .7; }
  .top-destination .place img {
    max-width: 100%;
    margin-bottom: 20px; }
  .top-destination .place h2 {
    font-size: 18px;
    line-height: 1.5; }
  .top-destination .place p {
    font-size: 13px;
    color: #ccc; }

    .banner-add img{
      padding: 10px;
      border: 1px solid #848484;
      margin-top: 10px;
      height: 190px;
      }
